@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root { 
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}
html, body {
    font-family: var(--font1);
    min-height: 100vh;
    background-color: darkgray;
}
header {
    background-color: black;
    color: white;
    text-align: center;
}
header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 5vw;
}
header p {
    padding-bottom: 50px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover {
    text-decoration: underline;
}
section {
    padding-top: 10vh;
    padding-bottom: 10vw;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vw;
}
section > p {
    padding-bottom: 2em;
}
section.normal {
    background-color: white;
    color: black;
}
section.imagem {
    background-color: rgba(0, 0, 0, 0.384);
    color: white;
}
section.imagem > p { 
    background-color: rgba(0, 0, 0, 0.269);
    display: inline-block;
    padding: 5px;
}
section#img01 {
    background-image: url(../imagens/background001.jpg);
}
section#img02 {
    background-image: url(../imagens/background002.jpg);
}
section#img02 {

}
footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}